<!-- views/userLoggedIn.handlebars -->
<section class="userLoggedIn">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="card">
          <div class="card-header">
            <h3>Welcome, {{ username }}!</h3>
            <form action="/logout" method="POST">
              <button type="submit" class="btn btn-primary">Logout</button>
            </form>
          </div>
          <div class="card-body">
            <!-- My Websites Title -->
            
            <!-- Form to Add New Websites -->
            <h5>Add New Website</h5>
            <form id="add-website-form">
                <div class="form-group">
                    <label for="websiteName">Website Name:</label>
                    <input type="text" id="website_name" name="websiteName" class="form-control" required>
                </div>
                <div class="form-group">
                    <label for="websiteURL">Website URL:</label>
                    <input type="url" id="website_url" name="websiteURL" class="form-control" required>
                </div>
                <div class="form-group">
                    <label for="username">Username:</label>
                    <input type="text" id="username" name="username" class="form-control" required>
                </div>
                <div class="form-group">
                    <label for="password">Password:</label>
                    <input type="password" id="password" name="password" class="form-control" required>
                </div>
                <button type="submit" class="btn btn-primary">Add Website</button>
            </form>
            <hr> <!-- Horizontal line to separate form and list -->
            <h4>My Websites</h4>
            <!-- List of Websites -->
            <ul class="list-group">
              {{#each websites}}
              <li class="list-group-item">
                <a href="#" class="website-link" data-toggle="collapse" data-target="#website-{{ id }}" aria-expanded="false" aria-controls="website-{{ id }}">{{ website_name }}</a>
                <div class="collapse" id="website-{{ id }}">
                  <p>URL: {{ website_url }}</p>
                  <p>Username: {{ username }}</p>
                  <p>Password: {{ password }}</p>
                </div>
              </li>
              {{/each}}
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<script src="/js/dashboard.js"></script>

